/* static/css/style.css */
body {
       background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      color: #fff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.navbar { background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); }
.card { border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
.btn-primary { background-color: #007bff; border-color: #007bff; transition:0.3s; }
.btn-primary:hover { background-color: #0056b3; border-color: #0056b3; }
.btn-success { background-color:#28a745; border-color:#28a745; }
.btn-success:hover { background-color:#1e7e34; border-color:#1c7430; }
.form-control { border-radius:8px; padding:10px; border:1px solid #ced4da; }
.form-control:focus { box-shadow:0 0 5px rgba(0,123,255,0.5); border-color:#80bdff; }
h2,h3,h5 { color:black}

.alert { border-radius:8px; }
img { border-radius:12px; box-shadow:0 4px 10px rgba(0,0,0,0.1); }
table { border-radius:12px; overflow:hidden; box-shadow:0 4px 10px rgba(0,0,0,0.1); }
.container { padding-top:20px; padding-bottom:20px; }
