<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Visualization</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <h2><a class="navbar-brand" href="#">AI Clue Organizer</a></h2>
    <ul class="navbar-nav ms-auto">
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Home</a></li></strong>
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li></strong>
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('cases') }}">Cases</a></li></strong>
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('analyze') }}">Analyze Case</a></li></strong>
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('visualization') }}">Visualization</a></li></strong>
      <strong><li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li></strong>
    </ul>
  </div>
</nav>
<div class="container mt-4">
<h2 style="color:#ced4da">Crime Visualization</h2>
<div>
  {{ graph_html|safe }}
</div>
</div>
</body>
</html>
